body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: aliceblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text{
    font-size: xx-large;
    font-weight: 600;
    min-width: 100px;
}
button{
    background-color: aliceblue;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    padding: 10px 30px;
    font-size: 30px;
    font-weight: bold;
}